<div class="container not-home-container">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-3">
      <h1>Create a new cocktail</h1>
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.input :pictureurl %>
        <%= f.submit "Add cocktail", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

