.not-home-container {
  margin-top: 75px;
}

.desc {
  background-color: #B9C0DA;
  padding: 15px;
  border-radius: 5px;
}

.editor {
  display: flex;
  justify-content: space-between;
}

.back-to {
  float: none;
  margin: 0 auto;
}

.editor {
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}

.edit-list li {
  padding: 5px;
}

.main-list {
  margin: 0 auto;
}

.description {
  display: flex;
  align-items: center;
}
